
body {
    background-color: #D05A00;
}

#loginForm{
    margin-top: -10px;
    width: 40%;
    background-color: white;
    height: 600px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 10px 18px #888888;
}
#form{
    width: 60%;
    height: 200px;
    background-color: #D05A00;
    margin-top: -50px;
    margin-left: 20%;
    padding-top:40px;
}
#home{
    float: left;
    margin-top: -50px;
	
}
#home a{
	text-decoration: none;
	color: black;
}
  
#home a:hover{
	color: grey;
}

#title {
    font-family: 'Bungee Shade', cursive;
    font-size:65px;
    color: black;
  
}
.blink-text{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    animation: blinkingText 1.5s infinite;
  }
  @keyframes blinkingText{
    0%		{ color: #ef0a1a;}
    50%		{ color: black;}
    75%		{ color: #D05A00;}
    100%		{ color: #ef0a1a;}
  }

#form p{
    font-size: 30px;
    color: white;
}
input[type=text]{
    width: 45%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#hello{
    text-align: center;
    font-size: 50px;
    margin-bottom: -5px;
    margin-top: -7px;
    border: 1px solid black;
}
#user{
    color: white;
}
#again{
    float: right;
    margin-top: -45px;
    margin-right: 10px;
}

#symbol {
    font-size: 2em;
    text-align: center;
}
.board {
    margin: auto;
    padding-top: 30px;
    width: 350px;
}

.cell {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	
	background-color:white;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family: 'Baloo', cursive;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 4em;
    float: left;
}
.cell:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.cell:active {
	position:relative;
	top:1px;
}
#messages {
    font-size: 1.9em;
    text-align: center;
}

#chatForm{
    width: 100%;
    margin: auto;
    
}
#chat{ 
    width: 80%;
    background-color: #d9dbce;
    margin: auto;
    
    
}
#listMessages{
    height: 180px;
    background-color:white ;
    overflow: scroll;
    box-shadow: 0px 1px 1px #000;
}
#txtMessage{
    
    border: 1px solid black;
    height: 35px;
    width: 80%;
    border-radius: 4px;
}
input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

#msg{
    margin-left: 1px;
    color: #D05A00;
    
}
#contentMsg{
    color: black;
}

#btnSendMessage{
    width: 10%;
    height: 25px;
}