<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Charmonman&display=swap" rel="stylesheet">
	<title>HOME TicTacToe</title>
</head>
<body>
	<div id="background">

		<div id="img">
			<p>Tic Tac Toe</p>
			<img class="pulseit" src="tictactoe.jpg" width="350px" height="300px">

		</div>
		<div id="function">
			<div id="content1">			
				<a href="/multiplayer">Multiplayer</a>
			</div>
			<div id="content2">
				<a href="/computer">Vs Computer</a>
			</div>
		</div>
		<div id="title">
			<p>You never win!!!</p>
		</div>
	</div>
</body>
</html>