<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style/online-style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.js"></script>
    <script src="client.js"></script>
</head>

<body>
    {{> icon}}
    <div id="loginForm">
        <p id="title" class="blink-text">Tic Tac Toe</p>
        <div id="form">
            <p>Xin mời nhập Username</p>
            <input type="text" id="username">
            <input type="button" value="Join Game" id="btnRegister">
        </div>
    </div>
    <div id="tictactoeForm">
    
    <p id="hello"></p>
    {{> icon}}
    <i id="again" class="fas fa-sync fa-2x"></i>
    <div class="board">
        <button class="cell" id="s0"></button>
        <button class="cell" id="s1"></button>
        <button class="cell" id="s2"></button>
        <button class="cell" id="s3"></button>
        <button class="cell" id="s4"></button>
        <button class="cell" id="s5"></button>
        <button class="cell" id="s6"></button>
        <button class="cell" id="s7"></button>
        <button class="cell" id="s8"></button>

        <div id="messages">waiting...</div>
        
    </div>
    <div id="chatForm">
            <div id="chat">
                <div id="listMessages">
                    
                </div>
                <input type="text" id="txtMessage">
                <input type="button" id="btnSendMessage" value="Send">
            </div>
    </div>
   
</div>
    
</body>

</html>