<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style/online-style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.js"></script>
    <script src="client.js"></script>
</head>

<body>
    <div id="loginForm">
        <p>Username</p>
        <input type="text" id="username">
        <input type="button" value="Login" id="btnRegister">
    </div>
    <div id="tictactoeForm">
    <p id="hello"></p> 
    <div id="symbol">waiting...</div>
    <div class="board">
        <button class="cell" id="s0"></button>
        <button class="cell" id="s1"></button>
        <button class="cell" id="s2"></button>
        <button class="cell" id="s3"></button>
        <button class="cell" id="s4"></button>
        <button class="cell" id="s5"></button>
        <button class="cell" id="s6"></button>
        <button class="cell" id="s7"></button>
        <button class="cell" id="s8"></button>

        <div id="messages">waiting...</div>
        <div id="chatForm">
            <div id="chat">
                <div id="listMessages">
                    
                </div>
                <input type="text" id="txtMessage">
                <input type="button" id="btnSendMessage" value="Send">
            </div>
        </div>
    </div>
   
</div>
    
</body>

</html>